{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "rules": {
    "array-bracket-spacing": ["error", "always"],
    "block-spacing": ["error", "always"],
    "camelcase": ["error"],
    "comma-spacing": ["error"],
    "curly": ["error", "multi-line"],
    "dot-notation": ["error"],
    "eol-last": ["error"],
    "getter-return": ["error"],
    "id-length": ["error", { "properties": "never", "exceptions": ["_", "i", "j", "n"] }],
    "keyword-spacing": ["error"],
    "no-extra-parens": ["error"],
    "no-multi-spaces": ["error", { "exceptions": { "VariableDeclarator": true } }],
    "no-multiple-empty-lines": ["error", { "max": 2 }],
    "no-restricted-globals": ["error", "event"],
    "no-trailing-spaces": ["error"],
    "no-unused-vars": ["error", { "vars": "all", "args": "none" }],
    "no-var": ["error"],
    "object-curly-spacing": ["error", "always"],
    "prefer-const": ["error"],
    "quotes": ["error", "double"],
    "semi": ["error", "never"],
    "sort-imports": ["error", { "ignoreDeclarationSort": true }]
  },
  "ignorePatterns": ["dist/**/*.js", "**/vendor/**/*.js"],
  "globals": {
    "after": true,
    "getComposition": true,
    "getDocument": true,
    "getEditor": true,
    "getEditorController": true,
    "getEditorElement": true,
    "getSelectionManager": true,
    "getToolbarElement": true,
    "QUnit": true,
    "rangy": true,
    "Trix": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
