trix-editor {
  [data-trix-mutable=true] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    ::-moz-selection {
      background: none;
    }

    img {
      box-shadow: 0 0 0 2px highlight;
    }

    &.attachment.attachment-file {
      box-shadow: 0 0 0 2px highlight;
      border-color: transparent;
    }
  }

  .attachment {
    .remove {
      display: block;
      position: absolute;
      top: -0.8rem;
      right: -0.8rem;
      width: 1.2rem;
      height: 1.2rem;
      line-height: 1.2rem;
      border-radius: 1.2rem;
      font-size: 0;
      color: black;
      text-align: center;
      text-decoration: none;
      background-color: #fff;
      border: 2px solid highlight;
      box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.12);

      &:after {
        font-family:  arial, sans-serif;;
        content: '×';
        font-size: 1rem;
        opacity: 0.5;
      }

      &:hover {
        border-color: #333;

        &:after {
          opacity: 1;
        }
      }
    }

    .caption {
      &.caption-editing {
        textarea {
          display: block;
          width: 100%;
          margin: 0;
          padding: 0;
          font-size: inherit;
          font-family: inherit;
          line-height: inherit;
          color: inherit;
          text-align: center;
          border: none;
          outline: none;
          -webkit-appearance: none;
          -moz-appearance: none;
        }
      }
    }
  }
}
