@import "./icons";

trix-editor {
  [data-trix-mutable=true] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    img {
      box-shadow: 0 0 0 2px highlight;
    }

    &.attachment.attachment--file {
      box-shadow: 0 0 0 2px highlight;
      border-color: transparent;
    }
  }

  [data-trix-mutable=true],
  [data-trix-cursor-target] {
    &::-moz-selection { background: none; }
    &::selection { background: none; }
  }

  .attachment {
    &:hover {
      cursor: default;
    }
  }

  .attachment--preview {
    .attachment__caption:hover {
      cursor: text;
    }
  }

  .attachment__progress {
    position: absolute;
    z-index: 1;
    height: 20px;
    top: calc(50% - 10px);
    left: 5%;
    width: 90%;
    opacity: 0.9;
    transition: opacity 200ms ease-in;

    &[value="100"] {
      opacity: 0;
    }
  }

  .attachment__caption-editor {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    text-align: center;
    vertical-align: top;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .attachment__toolbar {
    position: absolute;
    z-index: 1;
    top: -0.8em;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .trix-button-group {
    display: inline-flex;
    background-color: white;
    border: 1px solid #bbb;
    border-top-color: #ccc;
    border-bottom-color: #888;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);

    &:not(:last-child) {
      margin-right: 0.5em
    }
  }

  .trix-button {
    position: relative;
    float: left; // Collapse whitespace between elements
    color: #666;
    white-space: nowrap;
    font-size: 80%;
    padding: 0 0.8em;
    margin: 0;
    outline: none;
    border: none;
    border-radius: 0;
    background: transparent;

    &:not(:first-child) {
      border-left: 1px solid #ccc;
    }

    &.trix-active {
      background: #cbeefa;
    }

    &:not(:disabled) {
      cursor: pointer;
    }
  }

  .trix-button--remove {
    text-indent: -9999px;
    display: inline-block;
    width: 2em;
    padding: 0;

    &::before {
      display: inline-block;
      position: absolute;
      top: 0.1em;
      right: 0.1em;
      bottom: 0.1em;
      left: 0.1em;
      opacity: 0.7;
      content: "";
      background-image: $icon-remove;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .attachment__metadata-container {
    position: relative;
  }

  .attachment__metadata {
    position: absolute;
    left: 50%;
    top: -4.2em;
    transform: translate(-50%, 0);
    max-width: 90%;
    padding: 0.1em 0.6em;
    font-size: 0.8em;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 3px;

    .attachment__name {
      display: inline-block;
      max-width: 100%;
      vertical-align: bottom;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .attachment__size {
      margin-left: 0.2em;
      white-space: nowrap;
    }
  }
}
