.trix-content {
  blockquote {
    margin: 0 0 0 5px;
    padding: 0 0 0 10px;
    border-left: 5px solid #ccc;
  }

  pre {
    font-family: monospace;
    font-size: 12px;
    margin: 0;
    padding: 10px;
    white-space: pre-wrap;
    background-color: #eee;
  }

  ul, ol, li {
    margin: 0;
    padding: 0;

    li {
      margin-left: 20px;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a[data-trix-attachment] {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:visited:hover {
      color: inherit;
    }
  }

  .attachment {
    position: relative;
    display: inline-block;
    max-width: 100%;
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 13px;

    &.attachment-file {
      color: #333;
      line-height: 30px;
      padding: 0 16px;
      border: 1px solid #bbb;
      border-radius: 5px;
    }

    .caption {
      display: block;
      margin: 4px auto 0 auto;
      padding: 0;
      text-align: center;

      .size {
        &:before {
          content: ' · ';
        }
      }
    }
  }
}
