.trix-content {
  h1 {
    font-size: 1.6em;
    margin: 10px 0;
  }

  blockquote {
    margin: 0 0 0 0.3rem;
    padding: 0 0 0 0.6rem;
    border-left: 0.3rem solid #ccc;
  }

  pre {
    font-family: monospace;
    font-size: 0.8rem;
    margin: 0;
    padding: 0.5rem;
    white-space: pre;
    background-color: #eee;
    overflow-x: auto;
  }

  ul, ol, li {
    margin: 0;
    padding: 0;

    li {
      margin-left: 1rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a[data-trix-attachment] {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:visited:hover {
      color: inherit;
    }
  }

  .attachment {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0;
    color: #666;

    .caption {
      margin: 0.1rem auto 0 auto;
      padding: 0;
      text-align: center;

      .size {
        &:before {
          content: ' · ';
        }
      }
    }

    &.attachment-preview {
      display: table;

      .caption {
        display: table-caption;
        caption-side: bottom;
      }
    }

    &.attachment-file {
      display: inline-block;
      color: #333;
      line-height: 1;
      padding: 0.4rem 1rem;
      border: 1px solid #bbb;
      border-radius: 5px;

      .caption {
        margin-bottom: 0.1rem;
      }
    }
  }
}
