$icon-attach: svg('trix/images/attach.svg');
$icon-bold: svg('trix/images/bold.svg');
$icon-bullets: svg('trix/images/bullets.svg');
$icon-code: svg('trix/images/code.svg');
$icon-heading-1: svg('trix/images/heading_1.svg');
$icon-italic: svg('trix/images/italic.svg');
$icon-link: svg('trix/images/link.svg');
$icon-nesting-level-decrease: svg('trix/images/nesting_level_decrease.svg');
$icon-nesting-level-increase: svg('trix/images/nesting_level_increase.svg');
$icon-numbers: svg('trix/images/numbers.svg');
$icon-quote: svg('trix/images/quote.svg');
$icon-redo: svg('trix/images/redo.svg');
$icon-remove: svg('trix/images/remove.svg');
$icon-strike: svg('trix/images/strike.svg');
$icon-undo: svg('trix/images/undo.svg');
