$opacity-normal: 0.6;
$opacity-disabled: 0.125;
$opacity-active: 1;

trix-toolbar {
  * {
    box-sizing: border-box;
  }

  .button_groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .button_group {
    display: flex;
    margin-bottom: 10px;
    border: 1px solid #bbb;
    border-top-color: #ccc;
    border-bottom-color: #888;
    border-radius: 3px;

    button, input[type=button] {
      position: relative;
      float: left; // Collapse whitespace between elements
      font-size: inherit;
      padding: 0;
      margin: 0;
      outline: none;
      border: none;
      border-bottom: 1px solid #ddd;
      border-radius: 0;
      background: transparent;
      transition: all 0.2s ease;

      &:not(:first-child) {
        border-left: 1px solid #ccc;
      }

      &:not(:disabled) {
        cursor: pointer;
      }

      &.active {
        background: #cbeefa;
      }

      &.icon {
        width: 2.6em;
        height: 1.6em;
        max-width: 7vw;
        max-height: 7vw;
        text-indent: -9999px;

        &::before {
          display: inline-block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          opacity: $opacity-normal;
          content: "";
        }

        &.active::before {
          opacity: $opacity-active;
        }

        &:disabled::before {
          opacity: $opacity-disabled;
        }
      }

      &:not(.icon) {
        font-size: 75%;
        font-weight: 600;
        white-space: nowrap;
        padding: 0 0.5em;
        color: rgba(0,0,0, $opacity-normal);

        @media(max-width: 767px) {
          font-size: 70%;
          letter-spacing: -0.01em;
          padding: 0 0.3em;
        }

        &.active {
          color: rgba(0,0,0, $opacity-active);
        }

        &:disabled {
          color: rgba(0,0,0, $opacity-disabled);
        }
      }
    }
  }

  .dialogs {
    position: relative;

    .dialog {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      font-size: 0.8rem;
      padding: 15px 10px;
      background: #fff;
      box-shadow: 0 0.3rem 1rem #ccc;
      border-top: 2px solid #888;
      border-radius: 5px;
      z-index: 5;

      input {
        font-size: inherit;
        font-weight: normal;
      }

      input[type=url], input[type=text] {
        padding: 0.5em 0.8em;
        margin: 0 10px 0 0;
        border-radius: 3px;
        border: 1px solid #bbb;
        background-color: #fff;
        box-shadow: none;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        &.validate:invalid {
          box-shadow: #F00 0px 0px 1.5px 1px;
        }
      }

      .button_group {
        input[type=button] {
          padding: 0.5em;
          border-bottom: none;
        }
      }

      &.link_dialog {
        max-width: 600px;

        .link_url_fields {
          display: flex;
          align-items: baseline;

          input[type=url] {
            flex: 1;
          }

          .button_group {
            flex: 1 content;
            margin: 0;
          }
        }
      }
    }
  }
}
