@import "./media-queries";
@import "./icons";

$font-size-normal: 0.75em;
$opacity-normal: 0.6;
$opacity-disabled: 0.125;
$opacity-active: 1;

trix-toolbar {
  * {
    box-sizing: border-box;
  }

  .button-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .button-group {
    display: flex;
    margin-bottom: 10px;
    border: 1px solid #bbb;
    border-top-color: #ccc;
    border-bottom-color: #888;
    border-radius: 3px;

    .button {
      position: relative;
      float: left; // Collapse whitespace between elements
      font-size: inherit;
      line-height: inherit;
      padding: 0;
      margin: 0;
      outline: none;
      border: none;
      border-bottom: 1px solid #ddd;
      border-radius: 0;
      background: transparent;

      &:not(:first-child) {
        border-left: 1px solid #ccc;
      }

      &:not(:disabled) {
        cursor: pointer;
      }

      &.active {
        background: #cbeefa;
      }

      &.icon {
        width: 2.6em;
        height: 1.6em;
        max-width: calc(0.8em + 4vw);
        text-indent: -9999px;

        @include phone {
          height: 2em;
          max-width: calc(0.8em + 3.5vw);
        }

        &::before {
          display: inline-block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          opacity: $opacity-normal;
          content: "";
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;

          @include phone {
            right: 6%;
            left: 6%;
          }
        }

        &.button-bold::before { background-image: $icon-bold; }
        &.button-italic::before { background-image: $icon-italic; }
        &.button-link::before { background-image: $icon-link; }
        &.button-strike::before { background-image: $icon-strike; }
        &.button-quote::before { background-image: $icon-quote; }
        &.button-heading1::before { background-image: $icon-heading-1; }
        &.button-code::before { background-image: $icon-code; }
        &.button-bullets::before { background-image: $icon-bullets; }
        &.button-numbers::before { background-image: $icon-numbers; }
        &.button-undo::before { background-image: $icon-undo; }
        &.button-redo::before { background-image: $icon-redo; }
        &.button-outdent::before { background-image: $icon-nesting-level-decrease; }
        &.button-indent::before { background-image: $icon-nesting-level-increase; }

        &.active::before {
          opacity: $opacity-active;
        }

        &:disabled::before {
          opacity: $opacity-disabled;
        }
      }

      &:not(.icon) {
        font-size: $font-size-normal;
        font-weight: 600;
        white-space: nowrap;
        padding: 0 0.5em;
        color: rgba(0,0,0, $opacity-normal);

        @include phone {
          letter-spacing: -0.01em;
          padding: 0 0.3em;
        }

        &.active {
          color: rgba(0,0,0, $opacity-active);
        }

        &:disabled {
          color: rgba(0,0,0, $opacity-disabled);
        }
      }
    }
  }

  .dialogs {
    position: relative;

    .dialog {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      font-size: $font-size-normal;
      padding: 15px 10px;
      background: #fff;
      box-shadow: 0 0.3em 1em #ccc;
      border-top: 2px solid #888;
      border-radius: 5px;
      z-index: 5;

      input[type=url], input[type=text] {
        font-size: inherit;
        line-height: inherit;
        padding: 0 0.4em;
        margin: 0 10px 0 0;
        border-radius: 3px;
        border: 1px solid #bbb;
        background-color: #fff;
        box-shadow: none;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        &.validate:invalid {
          box-shadow: #F00 0px 0px 1.5px 1px;
        }
      }

      &.dialog-link {
        min-width: 300px;
        max-width: 600px;

        .dialog-link-inner {
          display: flex;
          align-items: baseline;
          line-height: 2.2;

          input[type=url] {
            flex: 1;
          }

          .button-group {
            flex: 0 0 content;
            margin: 0;

            .button {
              font-size: inherit;
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
