<div>
  <img width="50" height="50" src="https://cdn3.iconfinder.com/data/icons/rcons-user-action/32/boy-512.png"></img>
  <span>John Smith</span>
  <p>
    123 Shoestring Lane<br>
    555-555-5555
  </p>
</div>
